@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);

body  {
    background-color: #DDD;
}

header.col-md-12 {
    padding: 0px;
}

div.row {
    background: white;
}
header {
    background: url(../img/background.jpg);
    background-size: cover;
    height: 600px;
}
header h1 {
  position: relative;
  width: 420px;
  height: 245px;
}

h1 .fond{
  position: absolute;
  background-color: #000000;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  border-radius: 0 20px 20px 0px;
}

h1 .logo{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
header h1{
  margin-top: 65px;
}
.fond {
  }

.logo_devis_gratuit {
    top: 50px;
    right: 8px;
    position: absolute;
}

article div {
    padding: 5px 5px 0px 0px;
    height: 200px;
}

article div.text a {
	color: #333;
}



article#mineral > div {
    background: url(../img/gros_galets.jpg);
    background-size: cover;
    position: relative;
}

article#vegetal > div {
    background: url(../img/ecorces.jpg);
    background-size: cover;
    position: relative;
}

article#accessoires > div {
    background: url(../img/gazon_synthetique.jpg);
    background-size: cover;
    position: relative;
}


article#services > div {
    background: url(../img/camion.jpg) center left ;
    background-size: cover;
    position: relative;

}

article div .fond{
  position: absolute;
  background-color: #FFFFFF;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
}

article div .text{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin-left: 20px;
}

footer {
    background: white;
}

footer h2 {
    font-size: 1.5em;
}

footer div.map {
    padding-top: 22px;
}

div.footer2 {
    background-color: #616972;
    font-size: 10px;
    text-align: center;
}

div.footer2 ul {
    margin: 10px 0;
}

div.footer2 li {
    display: inline;
    list-style-type:none;
    margin: 0px 10px 0px 0px;
}

div.footer2 a {
    color: #FFFFFF;
}
