@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);

body  {
    background-color: #DDD;
}

header.col-md-12 {
    padding: 0px;
}

div.row {
    background: white;
}
header {
    background: url(/wcs/point-jardin/img/background.jpg);
    background-size: cover;
    height: 600px;
}
article div {
    padding: 5px 5px 0px 0px;
    height: 200px;
}


article#mineral > div {
    background: url(/wcs/point-jardin//img/gros_galets.jpg);
    background-size: cover;
    position: relative;
}

article#vegetal > div {
    background: url(/wcs/point-jardin//img/ecorces.jpg);
    background-size: cover;
    position: relative;
}

article#accessoires > div {
    background: url(/wcs/point-jardin//img/gazon_synthetique.jpg);
    background-size: cover;
    position: relative;
}


article#services > div {
    background: url(/wcs/point-jardin//img/camion.jpg) center left ;
    background-size: cover;
    position: relative;

}

article div .fond{
  position: absolute;
  background-color: #FFFFFF;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
}

article div .text{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
footer {
    background: white;
}

footer h2 {
    font-size: 1.5em;
}

footer div.map {
    padding-top: 22px;
}

div.footer2 {
    background-color: #616972;
    font-size: 10px;
    text-align: center;
}

div.footer2 ul {
    margin: 10px 0;
}

div.footer2 li {
    display: inline;
    list-style-type:none;
    margin: 0px 10px 0px 0px;
}

div.footer2 a {
    color: #FFFFFF;
}
